@font-face {
    font-family: 'made';
    src: url('./fonts/made_canvas/made-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'made', sans-serif;
    font-weight: bolder;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f7f4f0;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");

}

header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    color: #5f5a4d;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #908471;
}
.custom-color {
    color: #9d8161;
    font-size: 2vh;
}

.custom-color:hover {
    color: #7b5037;
}

.centered-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#email {
    border: none;
    background-color: #f5eee6;
    margin-left: 10px;
    margin-right: 15px;
    align-content: center;
}

#interested-btn {
    background-color: #5f5a4d;
    color: #f5eee6;
    border: #5f5a4d;
}
#back-homepage-btn {
    background-color: #5f5a4d;
    color: #f5eee6;
    border: #5f5a4d;
    text-decoration: none;
    padding: 5px;
}
